<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArhFkrzma0MQzKrZA0Z7jqstsM0EA7MFs</string>
	<key>GCM_SENDER_ID</key>
	<string>426086334343</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>br.com.cursosios.Instagram</string>
	<key>PROJECT_ID</key>
	<string>instagram-6d8e7</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-6d8e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:426086334343:ios:ada3c9fd96f1929268dd22</string>
</dict>
</plist>